@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --roboto: "Roboto", sans-serif;
  --size: 85px;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--roboto);
  width: 60%;
  margin: 50px auto;
}

.counter {
  color: #2e5bff;
  background: #d5deff;
  padding: 10px;
  border-radius: 10px;
  height: var(--size);
  width: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: color 0.5s ease, background 0.5s ease;
}

.counter h3,
h1 {
  margin: 0;
  padding: 0;
}

.counter h3{
    margin-right: auto;
    font-size: 15px;
}

.counter h1 {
  margin: 0 auto;
  font-size: 25px;
  font-weight: 100;
}

.counter:hover {
  color: white;
  background: #2e5bff;
  transition: color 0.5s ease, background 0.5s ease;
}
