/* Counter CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --roboto: "Roboto", sans-serif;
  --size: 85px;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  width: 60%;
  margin: 30px auto;
}

.counter {
  cursor: pointer;
  color: #2e5bff;
  background: #d5deff;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  height: var(--size);
  width: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: color 0.5s ease, background 0.5s ease;
}

.counter h3,
h1 {
  margin: 0;
  padding: 0;
}

.counter h3 {
  margin-right: auto;
  font-size: 15px;
}

.counter h1 {
  margin: 0 auto;
  font-size: 25px;
  font-weight: 100;
}

.Selected {
  color: white;
  background: #2e5bff;
  transition: color 0.5s ease, background 0.5s ease;
}

/* Timeline CSS */
.timeline {
  width: 100%;
  height: 400px;
  display: flex;
  border: 1px solid rgb(218, 216, 216);
  align-items: center;
}

.track {
  position: relative;
  width: fit-content;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}

.track-ends {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #d5deff;
  margin: 10px 0;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.track-middle {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.track-middle::-webkit-scrollbar {
  width: 5px;
  height: 0px; /* width of the entire scrollbar */
}
.track-middle::-webkit-scrollbar-track {
  background: #9eb3ff; /* color of the tracking area */
}
.track-middle::-webkit-scrollbar-thumb {
  background-color: #2e5bff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

.destination {
  background-image: url(../../Assets/SVG/destination.svg);
}
.warehouse {
  background-image: url(../../Assets/SVG/warehouse.svg);
}

.lines {
  position: absolute;
  background: tranparent;
  height: 330px;
  top: 15px;
  left: 18px;
  border: 3px gray;
  border-style: hidden dashed hidden hidden;
}

.status-container {
  display: flex;
  flex-direction: column;
  width: 88%;
  font-size: 1vw;
  margin-left: auto;
}

.status-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgb(218, 216, 216);
  margin: 0 10px 15px 0;
}

.status-bar:nth-child(1) {
  background-color: #e6ebff;
  color: green;
}

.status-bar::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: -37px;
  top: 15px;
  background-color: #2e5bff;
  border-radius: 50%;
  border: 3px solid #9eb3ff;
}

.date {
  margin-right: 15px;
}

.status {
  position: relative;
}

.status::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 1px;
  left: -35px;
  top: 11px;
  background-color: #2e5bff;
}

.shippment-log {
  height: 100%;
  overflow: scroll;
}

.shippment-log::-webkit-scrollbar {
  width: 5px;
  height: 0px; /* width of the entire scrollbar */
}
.shippment-log::-webkit-scrollbar-track {
  background: #9eb3ff; /* color of the tracking area */
}
.shippment-log::-webkit-scrollbar-thumb {
  background-color: #2e5bff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

/* Shippment Log CSS */
.shippment-log {
  height: inherit;
  overflow: scroll;
  border: 1px solid rgb(218, 216, 216);
}

.shippment-log tbody {
  font-size: 1vw;
}

.shippment-entry {
  cursor: pointer;
  border-top: 1px solid rgb(218, 216, 216);
  height: 50px;
}

table {
  width: 100%;
  position: relative;
}

th {
  font-weight: 100;
  color: gray;
  position: sticky;
  top: 0;
  background-color: white;
}

.DEL {
  color: green;
}

.OOD {
  color: blue;
}

.UND {
  color: red;
}
.INT {
  color: yellow;
}
